// Container
.container {
	max-width: ($containerWidth+$containerPadding)+px;
	width: 100%;
	margin: 0 auto;
	padding: 0 $containerSidePadding+px;

	@media (max-width:$breakpoint1200) {
		max-width: 1170px;
	}

	@media (max-width:$breakpoint992) {
		max-width: 970px;
	}

	@media (max-width:$breakpoint768) {
		max-width: 750px;
	}

	@media (max-width:$breakpoint480) {
		max-width: none;
	}
}

// Body
body {
	font-family: $fontMain;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.1;
	color: $gray;

	min-height: 100vh;
	width: 100vw;
	&.locked{
		overflow: hidden;
	}
}

// Animations
// Fade
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
// Images
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.btn {
	background-color: $orange;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 18px 49px;
	font-size: 22px;
	color: $white;
	white-space: nowrap;
	
	@media (max-width:$breakpoint480) {
		font-size: 20px;
	}
	// .btn__back
	&__back {
		background: $white;
		border: 1px solid $lightgray;
		color: $blue;
	}
	// .btn__next
	&__next {
	}
}

.search {
	height: 20px;
	max-width: 460px;
	display: flex;
	align-items: center;
	position: relative;
	//padding: 20px 30px;
	input{
		width: 100%;
		padding: 20px 20px 20px 65px;
		border: 1px solid #E5E4E1;
		height: 60px;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(20 / 18 * 100%);
		color: $gray;
	}
	// .search__img
	&__img {
		position: absolute;
		left: 30px;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width:$breakpoint480) {
			left: 20px;
		}
	}
}

h1{
	font-size: 50px;
	line-height: calc(56 / 50 * 100%);
	color:$blue;
}
h2{
	font-size: 25px;
	line-height: calc(28 / 25 * 100%);
	color: $blue;
}
p{
	font-weight: 400;
	font-size: 20px;
	line-height: calc(22 / 20 * 100%);
	color: $gray;
}