.main {
	width: 100%;
	height: 100vh;
	display: flex;
	// .main__column
	&__column {
	}
	// .main__bg
	&__bg {
		flex: 0 0 50%;
		@media (max-width:$breakpoint992) {
			flex: 0 0 40%;
		}
		@media (max-width:$breakpoint768) {
			display: none;
		}
	}
	// .main__content
	&__content {
		flex: 1 1 auto;
	}
}

.contentmain {
	margin: 68px 100px 60px;
	@media (max-width:$breakpoint1200) {
		margin: 48px 50px 40px;
	}
	display: flex;
	flex-direction: column;
	// .contentmain__ico
	&__ico {
		margin-bottom: 88px;
	}
	// .contentmain__content
	&__content {
		flex: 1 1 auto;
		@media (max-width:$breakpoint768) {
			text-align: center;
		}
	}
	// .contentmain__title
	&__title {
		margin-bottom: 10px;

		font-size: 50px;
		color: #051655;
		@media (max-width:$breakpoint480) {
			font-size: 40px;
		}
	}
	// .contentmain__text
	&__text {
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 20px;
		color: #747887;
	}
	// .contentmain__buttons
	&__buttons {
		display: flex;
		@media (max-width:$breakpoint768) {
			justify-content: center;
		}
		@media (max-width:$breakpoint480) {
			display: block;
		}
	}
	// .contentmain__btn
	&__btn {
		display: flex;
		align-items: center;
		gap: 41px;
		padding: 18px 20px 18px 30px;
		@media (max-width:$breakpoint480) {
			justify-content: space-around;
			padding: 15px 15px 15px 20px;
			gap: 20px;
		}
	}
	// .contentmain__footertext
	&__footertext {
		margin-top: auto;

		font-weight: 400;
		font-size: 18px;
		color: #747887;
	}
	// .contentmain__link
	&__link {
		font-size: 20px;
		color: #C35B48;
	}
}




