.profile {
	display: flex;
	gap: 40px;
	@media (max-width:$breakpoint768) {
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
	}
	// .profile__upload
	&__upload {
		width: 360px;
		height: 360px;
		@media (max-width:$breakpoint480) {
			width: 80vw;
			height: 80vw;
		}
	}
	// .profile__body
	&__body {
		width: 100%;
	}
	// .profile__title
	&__title {
		margin-bottom: 24px;
	}
	// .profile__input
	&__input {
		margin-bottom: 10px;
	}
}
.upload {
	background: #F3F6F9;
	border: 2px dashed #051655;
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	cursor: pointer;
	input{
		display: none;
	}
	// .upload__title
	&__title{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	
	}
	// .upload__img
	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	// .upload__text
	&__text {
		font-size: 20px;
		line-height: calc((22/20)*100%);
		color: #051655;
		white-space: nowrap;
	}
}

